#gametitle {
  width:344px;
  height:65px;
  margin-left:40px;
  margin-top:10px;
}

#contents {
  font-family: "CinemaL", sans-serif;
  font-size: 14px;
  color: #f7cc44;
  margin-left: 70px;
  margin-top: 10px;
}

#middletitle {
  font-family: "Santokki", sans-serif;
  font-size: 28px;
  color: #f7cc44;
  text-align: center;
  margin-top: 10px;
  -webkit-text-stroke: 0.7px #000;
}

#mic {
    width:276px;
    height:276px;
    margin-left:80px;
    margin-top:10px;
}
  