#gametitle {
  width:80%;
  height:auto;
  margin-left:7%;
  margin-top:10px;
}

#contents {
  font-family: "CinemaL", sans-serif;
  font-size: 14px;
  color: #f7cc44;
  margin-left: 50px;
  margin-top: 10px;
}

#middletitle {
  font-family: "Santokki", sans-serif;
  font-size: 28px;
  color: #f7cc44;
  text-align: center;
  margin-top: 10px;
  -webkit-text-stroke: 0.7px #000;
}

#mic {
    width:30%;
    height:auto;
    margin-left:80px;
    margin-top:10px;
}
  
#inputcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin: 10px auto; /* 가운데 정렬 및 위아래 여백 추가 */
}

/* 미디어 쿼리: 화면 너비가 768px 이하일 때 */
@media (max-width: 768px) {
  #inputcontainer {
    width: 95%; 
  }
}

