#logo {
    align-self: flex-start; /*로고 왼쪽 정렬*/
}

#gamebox {
    background-color: #8a0b0b;
    height: 100%;
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

.mic {
    width:276px;
    height:276px;
}

#middletitle {
  font-family: "Santokki", sans-serif;
  font-size: 28px;
  color: #f7cc44;
  text-align: flex-start;
  margin-top: 10px;
  -webkit-text-stroke: 0.7px #000;
}

#button {
    width: 352px;
    height: 61px;
    border: none;
    background: none;
}
  
  
  