#main_hashtag {
  display: inline;
  float: right;
  margin-right: 25px;
  margin-top: -45px;
}

#main_tagbar {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 300px;
  background-color: #69320a;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  transition: bottom 0.5s ease;
  z-index: 300;
}

@media (min-width: 450px) {
  #main_tagbar {
    max-width: 450px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    position: absolute;
  }
}

#main_tagbar.visible {
  bottom: 0;
}

#main_tagbar.hidden {
  visibility: hidden;
}

#main_navbar_div {
  width: 100%;
  height: 112px;
  bottom: 0;
}

#editmypost_btn {
  width: 80%;
  height: 60px;
  background-color: #f7cc44;
  font-family: "CinemaB";
  font-size: 20px;
  margin: auto 0;
  border-radius: 20px;
  margin-left: 11%;
}
