#posting_container {
  background-color: #8a0b0b;
  height: 100%;
  margin-top: -20px;
}

#posting_box {
  margin-top: 10px;
  border-radius: 20px;
  background-color: #f7cc44;
  width: 85%;
  margin-left: 30px;
}

#posting_title {
  text-align: center;
}

#posting_hashtag {
  font-family: "CinemaL";
  color: white;
  -webkit-text-stroke: 0.01cm black;
}

#posting_form {
  padding-bottom: 50px;
}

label {
  font-family: "Santokki";
  color: #8a0b0b;
  margin-left: 15px;
}

#input_title {
  border: none;
  outline: none;
  background-color: #f7cc44;
  width: 65%;
  margin-left: 5px;
  font-family: "CinemaL";
}

input[type="text"]::placeholder {
  font-family: "CinemaL";
  color: #9b9ba4;
}

#input_contents {
  font-family: "CinemaL";
  border: none;
  outline: none;
  background-color: #f7cc44;
  width: 80%;
  margin-left: 5px;
  margin-top: 20px;
  display: inline-block;
}

textarea::placeholder {
  font-family: "CinemaL";
  color: #9b9ba4;
}

#posting_congrats {
  color: #ffffff;
  font-family: "CinemaL";
  text-align: center;
  font-size: 30px;
}

#posting_btn {
  width: 90%;
  height: 61px;
  margin-left: 5%;
  margin-bottom: 50%;
}
